.container {
  display: flex;
  gap: 100px;
}
.textContainer {
  flex: 1;
  flex-direction: column;
  display: flex;
  gap: 50px;
}
/* .title {
  font-size: 96px;
} */
/* .desc {
  font-size: 20px;
} */
.buttons {
  display: flex;
  gap: 20px;
}
.button {
  padding: 14px;
  min-width: 100px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--text);
  color: black;
}
.button:first-child {
  background-color: var(--btn);
  color: var(--text);
}

.brands {
  width: 500px;
  height: 50px;
  position: relative;
  filter: grayscale(1);
}
.imageContainer {
  flex: 1;
  position: relative;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    text-align: center;

  }
  .buttons{
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .brands {
    width: 100%;
  }
}
